Repository STForScratch/ScratchTools, pull requests merged in 2024-11, with the labels that each got.

#971 Add option to not hide advertisements in studio comments
  features/hide-advertisements/data.json
  features/hide-advertisements/style.css
  features/hide-advertisements/three.js
Labels: type: enhancement, priority: 2, scope: feature

#972 Fix duplicates in `select-self`
  features/select-self/script.js
Labels: type: bug, priority: 2, scope: feature

#973 New API: `feature.getInternals()`
  api/feature.js
Labels: type: enhancement, priority: 3, scope: feature api

#961 Fix API`feature.traps.paint()` can't get
  api/vm.js
Labels: type: bug, priority: 2, scope: feature

#974 New API: `scratchClass`
  api/main.js
  api/module.js
  features/dark-paint-editor/script.js
  features/delete-all.js
  features/echo-effect/script.js
  features/go-to-parent/script.js
  features/last-key-pressed.js
  features/more-block-themes/script.js
  features/more-editor-fonts/script.js
  features/more-paint-functions/script.js
  features/move-project-title-input.js
  features/opacity-slider/script.js
  features/paint-align/script.js
  features/rotate-gradient/script.js
  features/search-assets.js
  features/sprite-clones.js
  features/turbowarp-button-in-editor.js
  features/video-recorder/video-recorder.js
Labels: type: bug, type: enhancement, priority: 1, scope: feature api

#975 A few minor improvements
  api/main.js
  api/module.js
  extras/feature-locales/en.json
  features/asset-size/script.js
  features/chomp-blocks/data.json
Labels: type: bug, type: enhancement, priority: 2, scope: feature, scope: feature api
